body {
  position:relative;
}

* {
  background-color: rgba(20, 20, 18, 0.93);
  padding: .5em;
  margin: .10em;
  color: white;
}

#header {
  margin:1em;
  text-align: center;
  font-size: 25px;

}

#content {
  /* position:absolute;
  left: 18em;  */
  min-height: 50vh;
  width: calc(100% - 37em);
}

#secondary {
  /*position: absolute;
  left: 1em;  */

  min-height: 50vh;
  width:15em;
}

#teritiary{
  /* position: absolute;
  right: 1em;  */

  min-height: 50vh;
  width:15em;
}

h4 {
  color: red;
  font-style: bold;
}

.whole{
  display: flex;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#first-para{
  text-align: center;

}
