body {
  position:relative;
  background-image: url("mex.jpg");
  background-size:auto;
  background-attachment: fixed;
}

* {
  background-color: rgba(14, 14, 13, 0.3);
  padding: .5em;
  margin: .10em;
  color: white;
}

#header {
  margin:1em;
  text-align: center;
  font-size: 25px;
  position: sticky;
  top: 0;

}

#content {
  /* position:absolute;
  left: 18em;  */
  min-height: 50vh;
}

#secondary {
  /*position: absolute;
  left: 1em;  */
 min-height: 50vh;
}

#teritiary {
  /* position: absolute;
  right: 1em;  */
 min-height: 50vh;
}

h4 {
  color: red;
  font-style: bold;
}

#first-para {
  text-align: center;
}

img {
  margin-left:auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}
