h1, h2 {
  background-color:rgba(0, 0, 0, 0.36);
  padding: 10px;
  color:rgba(4, 5, 5, 0.92);
  border-radius: 10px;
  margin-left: 1em;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  min-width: 1em;
}

body {
  margin-left: 1.5em;
  margin-right:1.5em;
  font-size: 18px;
  border: 1px solid rgb(152, 38, 38);
}

 p {
  margin-left: 2em;
  font-family: "Times New Roman",Times serif;
}

ul li {
  line-height: 1.5em;
}

a {
  margin-left: 2em;
}

a.logo-git {
  padding-left: 1.5em;
  background: url("GitHub.png") left center no-repeat;
  background-size: 20px;
}

a.logo-link {
  padding-left: 1.5em;
  background: url("LinkedIn.png") left center no-repeat;
  background-size: 20px;
}